@import "tailwindcss";

.login-background {
  background-image: url('/images/background_cars.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.logo-background {
  background-image: url('/images/Logo_paeb.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}

.loader {
  width: 48px;
  height: 48px;
  border: 2px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  background: blue;
  width: 6px;
  height: 6px;
  transform: translate(150%, 150%);
  border-radius: 50%;
}
.loader::before {
  left: auto;
  top: auto;
  right: 0;
  bottom: 0;
  transform: translate(-150%, -150%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 